# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Lynn Kirby

[submodule "thirdparty/LittleIntPacker"]
	path = thirdparty/LittleIntPacker
	url = https://github.com/lemire/LittleIntPacker
[submodule "thirdparty/pcg-c"]
	path = thirdparty/pcg-c
	url = https://github.com/imneme/pcg-c
[submodule "thirdparty/PractRand"]
	path = thirdparty/PractRand
	url = https://github.com/LynnKirby/PractRand
[submodule "thirdparty/TestU01"]
	path = thirdparty/TestU01
	url = https://github.com/LynnKirby/TestU01
